@(formRegister: Form[dto.security.RegisterView], formLogin: Form[dto.security.LoginView], groups: List[StudentGroup])

<html>
    <head>
        <title>@Messages("view.register.title")</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/register.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery.1.11.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.3.3.7.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/register.js")" type="text/javascript"></script>
        <script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer" type="text/javascript"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">@Messages("view.page.main")</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @for(message <- formLogin.allErrors()) {
                        @if(!"".equals(message.message()) && message.message() != null) {
                            <div class="alert alert-success alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                @message.message()
                            </div>
                        }
                    }
                    @for(message <- formRegister.allErrors()) {
                        @if(!"".equals(message.message()) && message.message() != null) {
                            <div class="alert alert-success alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                @message.message()
                            </div>
                        }
                    }
                    <div class="panel panel-loginSubmit">
                        <div class="panel-heading">
                            @*<div class="row">*@
                                @*<div class="col-xs-6">*@
                                    @*<a href="#" id="login-form-link">@Messages("view.login.title")</a>*@
                                @*</div>*@
                                @*<div class="col-xs-6">*@
                                    @*<a href="#" class="active" id="register-form-link">@Messages("view.register.title")</a>*@
                                @*</div>*@
                            @*</div>*@
                            @*<hr>*@
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @import helper._
                                    @form(CSRF(routes.LoginController.loginSubmit())) {
                                        <form id="login-form" action="@routes.LoginController.loginSubmit" method="post" role="form" style="display: none;">
                                            <div class="form-group">
                                                <select class="form-control" name="type" value="@formLogin("type").getValue().getOrElse("")">
                                                    <option value="STUDENT">@Messages("view.student")</option>
                                                    <option value="TEACHER">@Messages("view.teacher")</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="@Messages("view.profile.email")" value="@formLogin("email").getValue().getOrElse("")">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="@Messages("view.profile.password")">
                                            </div>
                                            <div class="form-group">
                                                <div class="g-recaptcha" data-sitekey="6LfTixkUAAAAAAnoLauOxDDtGY5kV37xoRpNy6ew"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="@Messages("view.login")">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                    @form(CSRF(routes.RegisterController.registerSubmit())) {
                                        <form id="register-form" action="@routes.RegisterController.registerSubmit" method="post" role="form" style="display: block;">
                                            <div class="form-group">
                                                <select class="form-control" name="type" value="@formRegister("type").getValue().getOrElse("")">
                                                    <option value="STUDENT">@Messages("view.student")</option>
                                                    <option value="TEACHER">@Messages("view.teacher")</option>
                                                    <option value="ADMIN">@Messages("view.admin")</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="firstName" id="firstName" tabindex="1" class="form-control" placeholder="@Messages("view.profile.firstname")" value="@formRegister("firstName").getValue().getOrElse("")">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="lastName" id="lastName" tabindex="1" class="form-control" placeholder="@Messages("view.profile.lastname")" value="@formRegister("lastName").getValue().getOrElse("")">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="@Messages("view.profile.email")" value="@formRegister("newEmail").getValue().getOrElse("")">
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control" name="groupName">
                                                    @for(t <- groups) {
                                                        <option id="@t.id" name="groupName" value="@t.name">@t.name</option>
                                                    }
                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="@Messages("view.profile.password")" value="@formRegister("password").getValue().getOrElse("")">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="confirmPassword" id="confirmPassword" tabindex="2" class="form-control" placeholder="@Messages("view.profile.password.repeatNew")" value="@formRegister("confirmPassword").getValue().getOrElse("")">
                                            </div>
                                            <div class="form-group">
                                                <div class="g-recaptcha" data-sitekey="6LfTixkUAAAAAAnoLauOxDDtGY5kV37xoRpNy6ew"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="@Messages("view.index.register")">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
