@(baseView: dto.BaseView)

<!DOCTYPE HTML>

@for(message <- baseView.messages) {
    @if(!"".equals(message.text) && message.text != null) {
        @if("success".equalsIgnoreCase(message.`type`)) {
            <div class="alert alert-success alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
            </div>
        }
        @if("info".equalsIgnoreCase(message.`type`)) {
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
            </div>

        }
        @if("warning".equalsIgnoreCase(message.`type`)) {
            <div class="alert alert-warning alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
            </div>

        }
        @if("danger".equalsIgnoreCase(message.`type`)) {
            <div class="alert alert-danger alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
            </div>
        }
    }
}